{% extends "layout.html" %}

{% block content %}
<nav class="navbar py-3 navbar-expand-lg bg-white">
    <div class="container">
        <a class="navbar-brand fs-3 fw-medium me-5" href="/">lernar<span class="text-primary">io</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                <li class="" href="#">
                    <a class="nav-link" href="#">Kalender</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Schüler" aria-label="Schüler">
                <button class="btn btn-outline-primary" type="submit">Suchen</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <p class="text-secondary mt-5 mb-2">Mittwoch, 9. April </p>
    <h1 class="mb-5">Hallo, Alex</h1>
    <div class="row g-4">
        <h3>Deine Klassen</h2>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title fs-4">IFA4C</h5>
                    <div class="d-flex"></div>
                    <p class="card-text">1. Lernjahr</p>
                    <a href="#" class="btn btn-outline-primary me-1">Schüler</a>
                    <a href="#" class="btn btn-outline-primary">Termine</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title fs-4">IFA2C</h5>
                    <div class="d-flex"></div>
                    <p class="card-text">3. Lernjahr</p>
                    <a href="#" class="btn btn-outline-primary me-1">Schüler</a>
                    <a href="#" class="btn btn-outline-primary">Termine</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title fs-4">IFA1B</h5>
                    <div class="d-flex"></div>
                    <p class="card-text">1. Lernjahr</p>
                    <a href="#" class="btn btn-outline-primary me-1">Schüler</a>
                    <a href="#" class="btn btn-outline-primary">Termine</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title fs-4">IFA3A</h5>
                    <div class="d-flex"></div>
                    <p class="card-text">2. Lernjahr</p>
                    <a href="#" class="btn btn-outline-primary me-1">Schüler</a>
                    <a href="#" class="btn btn-outline-primary">Termine</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggle() {
        document.getElementById("nav-link").classList.toggle("text-black");
    }
</script>

{% endblock %}