{% extends "components/layout.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex align-items-center justify-content-center vh-100">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <div>
                <h1 class="text-center fw-normal mb-5">Login</h1>
                <form action="{{ url_for('show_login_form') }}" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="submit" class="btn btn-primary me-2">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}