<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schüler hinzufügen</title>
</head>
<body>
 <form action="/schueler/hinzufuegen" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>

  <label for="klasse">Klasse wählen:</label><br>
  <select name="klasse" id="klasse">
      <option value="" selected disabled>Bitte wählen...</option>
    {% for klasse in klassen %}
      <option value="{{ klasse.class_id }}">{{ klasse.classname }}</option>
    {% endfor %}
  </select><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>