{% extends "components/layout.html" %}

{% include "components/header.html" %}

{% block content %}


<div class="container">
    <h1 class="my-5 text-center">Termin</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-xl-5">
            <form action="" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                    <label for="name">Name</label>
                </div>
                <select class="form-select" name="klasse" aria-label="Default select example">
                    <option selected>Wähle die Klasse</option>
                    {% for klasse in klassen_liste %}
                    <option value="{{ klasse.klasse_id }}">{{ klasse.klassenname }}</option>
                    {% endfor %}
                </select>
                <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="date" name="datum" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Hinzufügen</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}