{% extends "components/layout.html" %}

{% include "components/header.html" %}

{% block content %}

<div class="container py-4">
    <div class="container">
        <h1 class="my-5 text-center">Termin</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5">
                <form action="{{ url_for('termine.erstellen') }}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" name="termin_name" class="form-control" id="name" placeholder="Name">
                        <label for="name">Name</label>
                    </div>
                    <select class="form-select" name="klasse_id" aria-label="Default select example">
                        <option selected>Wähle die Klasse</option>
                        {% for klasse in klassen_liste %}
                        <option value="{{ klasse.klasse_id }}">{{ klasse.klassenname }}</option>
                        {% endfor %}
                    </select>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="date" name="datum" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Hinzufügen</button>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Terminübersicht</h3>
    </div>

    <div class="list-group">
        {% for termin in termine_liste %}
        <div class="list-group-item list-group-item-action mb-2 shadow-sm">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h5 class="mb-1">{{ termin.termin_name }}</h5>
                <small class="text-muted">{{ termin.datum.strftime("%d.%m.%Y") }}</small>
            </div>
            <p class="mb-1">{{ termin.beschreibung }}</p>
            <small class="text-secondary">📚 Klasse: {{ termin.klassenname }}</small>
            <div class="mt-2 d-flex gap-2">
                <a href="#" class="btn btn-sm btn-outline-warning">Bearbeiten</a>
                <a href="#" class="btn btn-sm btn-outline-danger">Löschen</a>
            </div>
        </div>
        {% else %}
        <p>Keine Termine gefunden.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}